label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.consultas{
    background-color: #020202 ;
    position: relative;
    width: 100%;
    height: 40%;
}
#chat{
    background: #373739;
    width: 90%;
    height: 50%;
    margin-left: 5%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1.5%;
    overflow: auto;
    border: 1px solid white;
}

.principal{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    left: 15%;
    top: 0px;
    gap: .5%;
    background: #020202;
}

.enviar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 5%;
    top: 2%;
}

.mensaje{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 60%;
    resize: none;
    height: auto;
    box-sizing: border-box;
    
}

.bEnviar{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #f2f2f2;
    
}
/* lateral */
.barra_herramientas{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: black;
    box-shadow: 1ch;
}

.barra_herramientas .menu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #020202;
    width: 95%;
    height: 10%;
    border: .5px solid white;
}

/* boton del menu */
.barra_herramientas .menu .nuevo_chat{
    /* display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 65%;
    border: 1px solid black;
    background-color: #cccccc55; */
    display: inline-block;
    padding: 10px;
    background-color: #19191a;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 70%;
    height: 65%;
    border: 1px solid black;
    cursor: pointer;

    padding: 3px 10px;
    border: #60d4ea 1px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.barra_herramientas .contenido{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 95%;
    height: 80%;
    gap: .5%;
    background-color: #373739;
    color: white;
    border: .5px solid white;
}

.barra_herramientas .pie{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #020202;
    color: white;
    width: 95%;
    height: 10%;
    top: 0%;
    gap: 20%;
    border: .5px solid white;
}
/* boton salir */
.barra_herramientas .pie .salir{
    width: 50%;
    height: 50%;

    display: inline-block;
    padding: 10px;
    background-color: #19191a;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;

    padding: 3px 10px;
    border: #60d4ea 1px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* mensajes */
#chat .User{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: auto;
    margin-left: 48%;
}

#chat .Assistant{
    background-color: white;
    width: 50%;
    border-radius: 15px;
    margin-left: 2%;
}

/* contenedor consultas */
.principal .consultas .titulo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 15%;
    background-color: #19191a ;
    color: white;
    border-radius: 5px;
    border: .5px solid white;
    top: .5px;
    margin: 5px auto;
}

.principal .consultas .opciones{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    background: #020202;
    gap: 5%;
   
}

.principal .consultas .opciones .tabla{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33.33%;
    height: 95%;
    background: #373739;
    overflow-y: auto;
    border-radius: 5px;

}

.principal .consultas .opciones .tabla #btablas{
    background: #020202;
    color: white;
    width: 50%;
    justify-content: center;
    margin: 5px auto;

    padding: 5px 10px;
    border: #60d4ea 1px solid;

    cursor: pointer;
}

.principal .consultas .opciones .tabla #bconsultas{
    background: #020202;
    color: white;
    width: 50%;
    justify-content: center;
    margin: 5px auto;

    padding: 5px 10px;
    border: #60d4ea 1px solid;

    cursor: pointer;
}

.principal .consultas .opciones .tabla #bfiltros{
    background: #020202;
    color: white;
    width: 50%;
    justify-content: center;
    margin: 5px auto;

    padding: 5px 10px;
    border: #60d4ea 1px solid;

    cursor: pointer;
}

.principal .consultas .opciones .tabla #borrar{
    background: #020202;
    color: white;
    width: 50%;
    justify-content: center;
    margin: 5px auto;

    padding: 5px 10px;
    border: #60d4ea 1px solid;

    cursor: pointer;
}

/* Separacion de los radio button */

.principal .tabla input[type="radio"]{
    margin-bottom: 5px;
}

.principal .tabla input[type="radio"]{
    margin-bottom: 5px;
}