<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/index.css') }}">
    <title>Document</title>
</head>
<body>

    <section class="barra_herramientas">
        <div class="menu">
            <button type="button" class="nuevo_chat"> + Nuevo chat</button>
        </div>
        <div class="contenido">
            <h2>Chat recientes</h2>
            <h3>chat</h3>
            <h3>chat</h3>
        </div>
        <div class="pie">
            <h1>logo</h1>
            <button type="button" class="salir">Salir</button>
        </div>
    </section>
    <section class="principal">
        <div class="consultas">
            <div class="titulo"><h1>CONSULTA BASE DE DATOS</h1></div>
            <div class="opciones">
                <div id="tablas" class="tabla"><h3 class="titulo">Tablas</h3></div>
                <div id="consultas" class="tabla"><h3 class="titulo">Consultas</h3></div>
                <div id="filtros" class="tabla"><h3 class="titulo">Filtro</h3></div>
            </div>
        </div>
        <div  id="chat">

        </div>
        <div class="enviar">
            <textarea class="mensaje" placeholder="Ingrese mensaje" id="mensajeTxt"></textarea>
            <button class="bEnviar" type="button">Enviar</button>
        </div>
    </section>

    <script type="module" src="{{ url_for('static', filename = 'js/index.js')}}"></script>
    <!-- <script src="{{ url_for('static', filename = 'js/funciones.js')}}"></script> -->
    <script>
        let chatbot = document.getElementById("chat");
        chatbot.scrollTop = chatbot.scrollHeight;
    </script>
</body>
</html>